[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cortexpy = "==0.28.3"
snakemake = "*"
pandas = "*"
pytest-profiling = "*"

[dev-packages]
bitstring = "*"
hypothesis = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
pytest-pylint = "*"
sphinx = "*"
twine = "*"
wheel = "*"
pytest-benchmark = "*"
coverage = ">=4.5"
"pytest-pep8" = "*"
pytest-profiling = "*"
