[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cortexpy = "==0.31.1"
snakemake = "*"
pandas = "*"
pytest = "*"
abeona = {editable = true, path = "."}

[dev-packages]
bitstring = "*"
hypothesis = "*"
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"
pytest-profiling = "*"
pytest-pylint = "*"
sphinx = "*"
twine = "*"
wheel = "*"
pytest-benchmark = "*"
coverage = ">=4.5"
tox = "*"
