[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cortexpy = ">=0.19.3"

[dev-packages]

bitstring = "*"
hypothesis = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-pylint = "*"
sphinx = "*"
twine = "*"
wheel = "*"
coverage = ">=4.5"
